/* mission list container */
.listContainer {
  margin: 3rem;
}

/* mission list header */
.gridHeader {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
}

/* mission list title */
.gridTitle {
  min-width: 9rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

/* mission list title */
.gridTitle:first-of-type {
  border-left: 1px solid #dee2e6;
}

/* mission list title */
.gridTitle:last-child {
  color: #fff;
  font-size: 0.2rem;
}

/* mission list media query */
@media screen and (max-width: 768px) {
  .gridHeader {
    display: flex;
    margin-bottom: 0.5rem;
  }

  /* mission list title media query */
  .gridTitle:nth-child(n+1) {
    display: none;
  }

  /* mission list title media query */
  .gridTitle:last-child {
    border: none;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
}
